<header
  class="bg-cyan-blue-500 dark:bg-blue-violet-500 shadow-x-light relative"
>
  <div
    class="flex items-center justify-between container"
    [ngClass]="'h-[70px]'"
  >
    @if(!mobile && !tablet) {
    <a href="/">
      <app-icon-logo class="text-white m-auto"></app-icon-logo>
    </a>
    <div class="flex items-center gap-2">
      <app-text variant="text-small" color="text-white">
        {{ userName }}
      </app-text>
      <app-button (click)="toggleDarkMode()" size="P" label="">
        <app-icon-darkmode icon-left class="text-white"></app-icon-darkmode>
      </app-button>
      <app-button size="P" label="">
        <app-icon-bell icon-left class="text-white"></app-icon-bell>
      </app-button>
      <app-button size="P" label="" (click)="logout()">
        <app-icon-exit icon-left class="text-white"></app-icon-exit>
      </app-button>
      <app-button size="P" label="" (click)="gotToConfigutarions()">
        <app-icon-account-circle
          icon-left
          class="text-white"
        ></app-icon-account-circle>
        <app-icon-arrowdown icon-left class="text-white"></app-icon-arrowdown>
      </app-button>
    </div>
    } @else if(tablet) {
    <a href="/">
      <app-icon-logo class="text-white m-auto"></app-icon-logo>
    </a>
    <div class="flex items-center gap-6">
      <app-text variant="text-small" color="text-white">{{
        userName
      }}</app-text>
      <div class="flex gap-2">
        <app-button size="P" label="" (click)="logout()">
          <app-icon-exit icon-left class="text-white"></app-icon-exit>
        </app-button>
        <app-button size="P" label="">
          <app-icon-account-circle
            icon-left
            class="text-white"
          ></app-icon-account-circle>
          <app-icon-arrowdown icon-left class="text-white"></app-icon-arrowdown>
        </app-button>
      </div>
    </div>
    } @else {
    <a href="/">
      <app-icon-logo class="text-white m-auto"></app-icon-logo>
    </a>
    <app-button size="P" label="" (click)="toggleMenu()">
      <app-icon-hamburger icon-left class="text-white"></app-icon-hamburger>
    </app-button>
    }
  </div>

  <app-menu
    [mobile]="mobile"
    [tablet]="tablet"
    [menuOpen]="menuOpen"
    [menuRef]="menuRef"
    (closeMenu)="closeMenu()"
    (menuRefReady)="setMenuRef($event)"
  >
  </app-menu>
</header>
