<div
  *ngIf="isOpen"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full mx-4 relative">
    <button
      (click)="onCancel()"
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>

    <h2 class="text-black-900 text-lg mb-4 text-center">Editar Transação</h2>

    <!-- Valor -->
    <div class="mb-4">
      <label class="block text-black-900 mb-2">Valor</label>
      <input
        type="text"
        [value]="amountFormatted"
        (input)="onAmountInput($event)"
        (keypress)="onlyNumbers($event)"
        class="w-full p-2 border border-gray-300 rounded"
      />
      <p
        *ngIf="!isAmountValid && amountTouched"
        class="text-red-500 text-xs mt-1"
      >
        Informe um valor válido maior que R$ 0,00.
      </p>
    </div>

    <!-- Descrição -->
    <div class="mb-4 relative">
      <label class="block text-black-900 mb-2">Descrição</label>
      <input
        type="text"
        [(ngModel)]="description"
        (input)="onDescriptionChange($event)"
        (keypress)="allowOnlyLetters($event)"
        (focus)="showSuggestions = true"
        (blur)="hideSuggestionsDelayed()"
        class="w-full p-2 border border-gray-300 rounded"
      />

      <ul
        *ngIf="showSuggestions && filteredDescriptionSuggestions.length > 0"
        class="absolute z-10 mt-1 bg-white border border-gray-300 rounded-md shadow-md w-full max-h-[150px] overflow-y-auto"
      >
        <li
          *ngFor="let suggestion of filteredDescriptionSuggestions"
          class="px-4 py-2 cursor-pointer hover:bg-cyan-100 text-cyan-blue-500"
          (mousedown)="selectCategorySuggestion(suggestion)"
        >
          {{ suggestion }}
        </li>
      </ul>

      <p
        *ngIf="!isDescriptionValid && descriptionTouched"
        class="text-red-500 text-xs mt-1"
      >
        A descrição deve ter pelo menos 3 caracteres.
      </p>
    </div>

    <!-- Ações -->
    <div class="flex justify-center gap-4">
      <app-button
        theme="outline-cyan-blue"
        size="G"
        label="Cancelar"
        (click)="onCancel()"
      ></app-button>

      <app-button
        theme="primary"
        size="G"
        label="Salvar"
        [disabled]="!isFormValid"
        (click)="onSave()"
      ></app-button>
    </div>
  </div>
</div>
