/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full max-w-[1150px] mx-auto flex justify-between items-center;
  }
}

 
html {
  scroll-behavior: smooth;
}

body, html {
  font-family: 'Lato', sans-serif;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-16 {
  font-size: 16px;
}

.text-size-14 {
  font-size: 14px;
}

.text-size-12 {
  font-size: 12px;
}

